<!DOCTYPE html>
<html>
    <head>
    <!-- title: CHANGE ME -->
        <title>Cocktail Hangman</title>
    <!-- stylesheets -->
        <link rel="stylesheet" href="../static/css/stylesheet.css">
    
    <!-- meta -->
        <meta name="author" content="Maggie Hunt">
    </head>
    <body>
        <form id="nameForm" action="/" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">What is your name?</label>
              <input type="text" step="any" id="name" name="name" placeholder="" required>
                          
            </div>

            </form>

        {%if username="" %}
        {%else%}
        <p id="content">Hi {{username}}</p>
        {% endif %}

        </body>
        <script src="../static/js/script.js"></script>
        </html>