<!DOCTYPE html>
<html>
    <head>
    <!-- title: CHANGE ME -->
        <title>Cocktail Hangman</title>
    <!-- stylesheets -->
        <link rel="stylesheet" href="../static/css/stylesheet.css">
    
    <!-- meta -->
        <meta name="author" content="Maggie Hunt">
    </head>
    <body>

        <video  controls height="100%" autoplay muted>
            <source src="./static/images/video_chatGPT.MP4" type="video/MP4">
          </video>

        </body>
        <script src="../static/js/script.js"></script>
        </html>